@font-face {
    font-family:"DOCALLISME ON STREET";
    src: url(../assets/DOCALLISME\ ON\ STREET.ttf);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
} 

header {
/*Positionnement des blocks h1 et h2 dans le header*/
position: fixed;
display: flex;
z-index: 10;
flex-direction: column;
justify-content: center;
align-items: center;    
/*taille et apparence de base du header*/
width: 100vw;
height: 20vh;
background-color: #000000;
color: #f5f5f5;
font-family: "DOCALLISME ON STREET";
/*image de fond du header*/
background-image: url("../assets/fond\ d\'écran.");
background-repeat: no-repeat;
background-size: cover;
border-bottom: grey;

}

header>h1 {
font-size: 7vh;

}
header>h2 {
font-size: 5vh;

}

nav{
/*taille et apparence de base du nav (menu)*/
position: fixed;
top: 20vh;
z-index: 10;
height:75vh;
width: 30vw ;
left: -30vw; 
background-color: #000000;
color: #f5f5f5;
/*optionnel*/
background-image: url("../assets/fond\ d\'écran.");
background-repeat: no-repeat;
background-size: cover;
/*réglage dela direction des bouttons*/
display: flex;
flex-direction: column;
justify-content: space-evenly;
 align-items: center;
 transition: transform 1s;
}
.boutton {
/* formatage du texte*/
color: #f5f5f5;
text-decoration: none;
font-family: "DOCALLISME ON STREET";
font-size: 4vh;
display: block; 
border-radius: 0,5vh;
padding: 0,5vh;
width: 14vw;
text-align: center;
transition: box-shadow 500ms;
}


.boutton:hover {

/*color: #f5f5f5;*/
background-color: beige;
box-shadow: #f5f5f5 5px 5px 10px 0;

}

main {
/*positionnement de la page*/
position: relative;
top: 20vh;
left:30vw ;
width: 70vw;

}
footer {

    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 20vw;
    height: 10vh;
    background-image: url(../assets/fooeter.png);
    background-repeat: no-repeat;
    background-size: cover;
}

